@import url(https://fonts.googleapis.com/css?family=Lato:300,400,300italic);

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Lato',serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f1f4f8;;
	
}

.navsub{
	width: 230px;
	background: #2b333d;
	height: 100%;
	max-height: 100%;
	position: absolute;
	float: left;
	
}

ul li{
 list-style: none;
	

}

li{
	padding-top: 2px;
}


li a{
	text-decoration: none;
	color: #C3C3C3;
	line-height: 15px;
	
}

h2{
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	margin-top: 15px;
}

h2 i{
	color: white;
}

.nav{
	height: 45px;
	background-color:#1D6966;
	border-bottom: 3px none #000;
	
	width: 100%;
}

.nav ul li{
	float: right;
	font-size: 16px;
	color: white;
	cursor: pointer;
	margin-right: 15px;
	font-weight: 500;
	padding-top: 8px;
	
}

.nav ul li i{
	color: white;
}

i{
	
	padding: 5px;
	cursor: pointer;
}

hr{
	/*visibility: hidden;*/
}

/*.menubar{
	height: 40px;
	
	background-color: white;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.78);
	z-index: 3;
}*/


.content{
	background: white;
    box-shadow: 0 1px 5px 0 #E0D2D2;
    margin: 10px 260px;
    border:0.5px solid rgba(128, 128, 128, 0.24);
    width:700px;
    margin-top: 40px;
    height: 600px;
}

.content-header{
	height: 45px;
	background-color: #225C7B;
	border-bottom: 2px black;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.78);
	padding-left: 110px;
	
}

.content-header ul li {
	display: inline-block;
	color: white;
	padding-top: 8px;
	margin-right: 35px;

}
 .content-header ul li a:{
	font-size: 15px;
	font-weight: 300;
	
}

.content-header ul li a:hover{
	border-bottom: 3px solid coral;
	padding: 6px 0;
	transition: all 0.2s ease;
}

a{
	/*padding: 5px;*/

}

.corner{
	padding: 25px;
}

a:hover{
	color: white;
	animation-duration: 5s;
  	
}