*{
	margin: 0px;
	padding:0px;
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Raleway', sans-serif;
	font-weight: 350;
	font-size: 16px

}

.navbar{
	padding: 0;
	background-color: rgb(59, 99, 140);
	height: 75px;
	width: 100%;
	border-bottom: 1px solid #0E6383;
	
}

.sub-navbar{
	height: 30px;
	width: 100%;
	padding: 0;
	background-color: rgba(14, 101, 142, 0.79);
	border-bottom: 1px solid rgba(59, 99, 140, 0.38);
}

#intro{
	height: 600px;
	width: 100%;
	margin: 0px;
	background-color:#BDC3C7;
	background-image: url('../images/fam.jpg');
	background-size:cover;
	margin:auto;

}


.button{
	height: 35px;
	width: 100px;
	float: right;
	margin: 20px;
	border: 1px solid white;
	text-align: center;
	
}
.button:hover{

	background: white;
	-webkit-filter: blur(0.1px);
	-webkit-transition: all 0.4s;
	-moz-filter: blur(3.0px);
	-moz-transition: all 0.4s;
}
a{
	display: block;
	text-decoration: none;
	color: white;
	padding-top: 6px;
	font-size: 18px;
	font-weight: 300;
}

.navbar a:hover{
	color: #2C3E50;
	font-weight: 400;
}


.box1{
	background-color: #3CA1B4;
	height: 300px;
	border-radius: 3px;
}

.box2{
	background-color: #3498DB;
	height: 300px;
	border-radius: 3px;
}

.box3{
	background-color: rgba(27, 188, 155, 0.8);
	height: 300px;
	border-radius: 3px;
}


h1{
	padding-top: 200px;
	text-align: center;
	font-size: 5em;
	color: #fff;
	text-shadow: 2px 1px 4px rgba(20, 93, 165, 0.64);

}

h2{
 
 font-size: 20px;
 color: #00A470;
}

footer{
	height: 300px;
	border-top: solid 2px #34495E;
	background-color: #2C3E50;
	
	width: 100%;
}

.content a{
	font-size: 15px;
}

p{
	font-size: 13px;
	color: #00A470;
}

span{
	float: right;
}

i{
	color: white;
	margin: 5px;
}